
 <h1>Artist Search Results</h1>
 
<% if ( results.length === 0) { %>
    <p>Sorry, we didn't find your artist</p>
<% } else { %>
    <% results.forEach ((artist) => { %>
    <div id="artist">
        <h2><%- artist.name %></h2>
        <img src=" <%- artist.images.map[0].url %>" alt="<%- artist.name %>">
        <a href="/albums/<%- artist.id %>"> Show Albums</a>
    </div>
<% } ) %>
<% } %>


<%