<div>
    <form action='/artist-search' method='get'>
        <!-- <label for='artist-name' > -->
            <input placeholder="Artist Name" id="artist" name="artist" type="text" required />
         <!-- </label> -->
        <button type="submit">Search</button>
       
    </form>
</div>